html {
  min-height: 100%;
}

body {
  padding: 10px 20px;
}

h1, h2, h3 {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  padding-top: 7px;
  padding-bottom: 7px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 2px solid;
  font-style: italic
}

hr {
  height: 0;
  border: none;
  page-break-before: always;
}

img {
  margin: 1em 0;
  max-width: 100%;
}

a img {
    border: 2px solid;
}
  