*:focus {
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bs{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: left;
}

#main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

a, p{
    font-family: Helvetica, Arial, sans-serif
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#header-left {
    display: flex;
    justify-content: flex-start;
}

h1{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px; 
    margin-bottom: 8px;
}

#track-title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px; 
    margin-bottom: 8px;
    margin-left: 14px;
    font-style: italic;
    color: green;
}

#self-promotion{
    display: flex;
    flex-direction: column;
    padding-top: 33.5px;
    padding-bottom: 8px;
    align-items: flex-end;
}

#self-promotion a{
    color: rgb(102, 102, 102);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    margin-bottom: 2px;
}

#self-promotion a:hover{
    border-bottom: 1px solid indianred;
}

h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 14px;
    font-family: serif;
}

p{
    font-size: 20px;
}


/* NAV BAR */

#nav-bar{
    display: flex;
    flex-direction: column;
    padding: 18px;
    margin-right: 40px;
    border: 1px solid black;
    justify-content: flex-start;
    width: 220px;
}

#nav-bar-tracks, #nav-bar-current{
    display: flex;
    flex-direction: column;
}

#nav-bar a {
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    margin: 1px;
    font-size: 18px;
    cursor: pointer;
}

#nav-bar-tracks a {
    color: rgb(102, 102, 102);
}

#nav-bar-tracks a:hover {
    color: green;
}

#reset {
    color: indianred;
}

#tour {
    color: rgb(102, 102, 102);
}

#tour:hover {
    color: green;
}


/* TRACKS */

#tracks-player{
    display: flex;
    flex-direction: column;
    width: 610px;
    border: 1px solid black;
    padding: 32px;
}

#player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#waveform {
    margin-left: 15px;
    width: 70%;
}

.track{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
}

.show-controls {
    width: 100px;
    border: 1px solid black;
    border-radius: 0px;
    background: white;
    color: black;
    text-align: center;
}

.controls {
    display: flex;
}

.toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 20px;
    padding-left: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="range"] {
    margin: 0;
    width: 10%;
    transform: rotate(-90deg);
}

.solo {
    border: 0px;
    background: transparent;
    /* color: green; */
    opacity: 0.5;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
}

.mute {
    border: 0px;
    background: transparent;
    /* color: indianred; */
    opacity: 0.5;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
}

.add {
    border: 0px;
    background: transparent;
    /* color: gold; */
    opacity: 0.5;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
}

.add:hover{
    color: gold;
    opacity: 1.0;
}

.mute:hover{
    opacity: 1.0;
    color: red;
}

.solo:hover{
    opacity: 1.0;
    color: green;
}

.playback {
    align-items: center;

    font-style: italic;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    width: 120px;
}

ion-icon {
    margin-right: 7px;
}

#playing:hover{
    color: indianred;
}

#paused:hover{
    color: green;
}


audio {
    width: 90%;
    margin-left: 10px;
}


/* Bottom Controls Guide */

#controls-guide{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}

#global-value-wrapper {
    width: 100px;
    height: 30px;
    margin-right: 21px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

#global-value {
    width: auto;
    text-align: center;
    color: green;
    font-size: 21px;
}

.track-guide {
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 0px;
    background: white;
    color: black;
    text-align: center;
    margin: 5px;
}

#tog-guide {
    width: 40px;
}

#rev-guide {
    width: 250px;
}

/* Loader */

#loading-wrap {
    display: flex;
    align-items: baseline;
}

#loading-wrap i {
    margin-left: 15px;
    color: #666666;
    font-size: 28px;
}

#loader {
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    0%   {border-top: 5px solid #b3b3b3;}
    10%  {border-top: 5px solid #999999;}
    20%  {border-top: 5px solid #808080;}
    30%  {border-top: 5px solid #737373;}
    40%  {border-top: 5px solid #595959;}
    50%  {border-top: 5px solid #404040;}
    60%  {border-top: 5px solid #595959;}
    70%  {border-top: 5px solid #737373;}
    80%  {border-top: 5px solid #808080;}
    90%  {border-top: 5px solid #999999;}
    100% {border-top: 5px solid #b3b3b3;}
  }
  
  @keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    0%   {border-top: 6px solid #b3b3b3;}
    10%  {border-top: 6px solid #999999;}
    20%  {border-top: 6px solid #808080;}
    30%  {border-top: 6px solid #737373;}
    40%  {border-top: 6px solid #595959;}
    50%  {border-top: 6px solid #404040;}
    60%  {border-top: 6px solid #595959;}
    70%  {border-top: 6px solid #737373;}
    80%  {border-top: 6px solid #808080;}
    90%  {border-top: 6px solid #999999;}
    100% {border-top: 6px solid #b3b3b3;}
  }