html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-spacing: 0;
  border-color: white;
}

/*******************************************************************************
Styles
*******************************************************************************/

html {
  display: flex;
  justify-content: left;
}

body {
  color: black;
  max-width: 1000px;
  background: white;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 59px 100px;
}

#n-s-nav:hover ~ #non-software {
  background: black;
  color: white;
}

#intro {
  display: flex;
  justify-content: left;
  padding-bottom: 10px;
}

#header-name {
  width: 200px;
  height: auto;
  padding-top: 0px;
}

#hcol-1 {
  margin-right: 25px;
  width: 20%;
  min-width: 180px;
}

#hcol-2 {
  width: 60%;
  padding-left: 15px;
}

.nav-li {
  display: flex;
  justify-content: left;
}

.nav-li > li {
  padding-right: 5px;
}

article {
  display: flex;
}

#col-1 {
  padding-right: 40px;
  width: 90%
}

#col-2 {
  padding-left: 40px;
  width: 90%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  margin-bottom: 6px;
  margin-top: 12px;
}

h2 {
  font-size: 32px;
  margin-bottom: 5px;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
  margin-bottom: 3px;
  margin-top: 7px;
}

h4 {
  font-size: 21px;
  margin-top: 7px;
}

h5 {
  font-size: 18px;
  margin-top: 7px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 8px 0 8px 0;
}

a {
  color: black;
}

b {
  font-weight: 700;
}

ol, ul {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;

}

#friends-wrap {
  display: flex;
}

.friends {
  padding-right: 25px;
}

#pdf-marketplace, #random {
  margin-top: 10px;
}